header {
  background-image: linear-gradient(to right, rgb(164, 238, 248) , rgb(164, 247, 164));
}

.list-group-item {
  margin-bottom: 1rem;
}

.list-group-item + .list-group-item {
  border-top-width: 1px !important;
}

.card-text div {
  margin-bottom: 1rem;
}

.btn {
  transition: all 0.5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -5px;
}

.btn-secondary {
  background-image: linear-gradient(45deg, black, lightgray);
}

.btn-info {
  background-image: linear-gradient(to right, rgb(232, 253, 136), rgb(167, 227, 255));
}

.btn-primary {
  background-image: linear-gradient(45deg, purple, blue, aqua) !important;
}

.btn:hover {
  background-position: 1px -50px;
}